<div class="question-container">
  <div class="question-header" *ngIf="question">
    <h4>
      {{ sectionNumber }}.{{
        fatherQuestionNumber != 0 ? fatherQuestionNumber : question.numberLevel
      }}{{ fatherQuestionNumber != 0 ? "." + question.numberLevel : "" }}
    </h4>
    <h4>{{ question.importantIndicator }} {{ question.displayText }}</h4>

    <div
      class="options-container"
      [ngSwitch]="question.type"
      *ngIf="isQuestion"
    >
      <div class="multiple-container" *ngSwitchCase="'three_buttons'">
        <div
          class="multiple-option"
          *ngFor="let option of completeQuestion.choiceOptions"
        >
          <button (click)="answerQuestion(option.value)">
            {{ option.value }}
          </button>
        </div>
      </div>
      <div class="radio-container" *ngSwitchCase="'radio'">
        <div
          class="radio-option"
          *ngFor="let choiceOption of completeQuestion.choiceOptions"
        >
          <input
            (click)="answerQuestion(choiceOption.value)"
            type="radio"
            name="radioGroup"
            [id]="'radioOption-' + choiceOption.value"
          />
          <label [for]="'radioOption-' + choiceOption.value">{{
            choiceOption.label
          }}</label>
        </div>
      </div>
      <div class="dropdown-container" *ngSwitchCase="'dropdown'">
        <select
          #selectInput
          name=""
          id=""
          (change)="answerQuestion(selectInput.value)"
        >
          <option
            *ngFor="let option of completeQuestion.choiceOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
<div *ngIf="question.hasDependentQuestion">
  <app-question
    *ngFor="let dependentQuestion of completeQuestion.dependentQuestion"
    [question]="dependentQuestion"
    [sectionNumber]="sectionNumber"
    [fatherQuestionNumber]="+question.numberLevel"
  ></app-question>
</div>
