<div class="main-container">
  <app-header></app-header>
  <cdk-accordion>
    <cdk-accordion-item
      *ngFor="let section of sections; let index = index"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="expandedIndex == index"
      [attr.aria-controls]="'accordion-body-' + index"
    >
      <app-section (click)="toggleExpanded(index)" [section]="section">
      </app-section>
      <div [ngClass]="expandedIndex == index ? 'questions-container' : ''">
        <app-question
          (questionChanged)="onQuestionUpdated($event)"
          *ngFor="let question of questions"
          [question]="question"
          [sectionNumber]="section.numberLevel"
          [style.display]="expandedIndex == index ? '' : 'none'"
          [attr.id]="'accordion-body-' + index"
          [attr.aria-labelledby]="'accordion-header-' + index"
        >
        </app-question>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>
